html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0
}

#app {
  padding: 30px;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-screen-button-container {
  margin-top: 20px;
  width: 100%;
}