html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  background-color: rgb(0, 188, 212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  height: 90%;
  background-color: white;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  padding: 0 24px;
  width: 90%;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-screen-button-container {
  margin-top: 20px;
  width: 100%;
}

.settings-screen {
  display: flex;
  flex-direction: column;
}

.setting-screen-subtitle {
  font-size: 14px;
}