html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}